<div class=" w-3/4 sm:w-full relative flex flex-col items-center mx-auto md:max-w-2xl mt-6 min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded-xl mt-16 border-2 border-yellow-800">


  <div class="px-6">
    <div class="flex flex-wrap justify-center">
      <div class="w-full flex justify-center align-middle">
        <%= image_tag "https://avatars.dicebear.com/api/avataaars/#{@adventurer.name}.svg", alt: "Image of #{@adventurer.name}", class: "shadow-xl bg-white rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]" %>
      </div>
      <div class="w-full text-center mt-20">
        <div class="flex justify-center lg:pt-4 pt-8 pb-0">
          <div class="p-3 text-center">
            <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"><%= @adventurer.days_adventuring %></span>
            <span class="text-sm text-slate-400">Days Adventuring</span>
          </div>
          <div class="p-3 text-center">
            <span class="text-xl font-bold block uppercase tracking-wide text-slate-700"><%= @adventurer.number_of_campaigns %></span>
            <span class="text-sm text-slate-400">Campaigns Completed</span>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mt-2">
      <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1"><%= @adventurer.name %>
        of <%= @adventurer.city %></h3>
      <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
        <%= @adventurer.klass %>
      </div>
    </div>
  </div>



  <%= form_with model: @adventurer, builder: FormBuilders::TailwindFormBuilder, class: "w-2/3 flex flex-col my-4 items-center md:items-end" do |f| %>
    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_field :name, label: { text: "Full Name" } %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_field :city %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_field :klass, label: { text: "Class" } %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_field :primary_weapon %>
    </div>

    <div class="md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.text_field :secondary_weapon %>
    </div>

    <div class="w-3/4 sm:w-1/2 md:w-full md:flex md:w-full md:justify-between md:items-center mb-6">
      <%= f.select :alignment, Adventurer::ALIGNMENTS, class: "w-full md:w-1/2" %>
    </div>

    <%= f.submit "Save", class: "w-1/2 md:w-1/4" %>
  <% end %>
</div>
