<!DOCTYPE html>
<html>
  <head>
    <title>TailwindFormBuilders</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-primary text-primary">
  <header class="py-2 border-b dark:border-gray-800">
    <div class="container flex items-center justify-between">
      <%= render partial: "shared/nav" %>
    </div>
  </header>

  <section class="container mx-auto">
    <%= yield %>
  </section>
  </body>
</html>
